@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        color: #333;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #D2B48C;
    }

    h1 {
        color: #333;
        border-bottom: 2px solid #333;
        padding-bottom: 10px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 15px;
    }



    .browse-button {
        display: inline-block;
        padding: 10px 15px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .browse-button:hover {
            background-color: #45a049;
        }
</style>


<p>
    Welcome to Delulu N Coffee! Your privacy is important to us, and we are dedicated to
    protecting the confidentiality and security of your personal information. This Privacy Policy
    outlines the practices we follow concerning the collection, use, and protection of your
    information.
</p>

<p>
    <strong>Information We Collect:</strong> We may collect various types of information, including
    but not limited to your name, email address, and browsing activity. This information is
    essential for providing and enhancing our services, personalizing your experience, and
    maintaining effective communication with you.
</p>

<p>
    <strong>How We Use Your Information:</strong> Your data is securely stored, and we utilize it
    solely for the purposes mentioned above. We do not sell, trade, or transfer your personally
    identifiable information to third parties without your explicit consent.
</p>

<p>
    <strong>Agreement to Terms:</strong> By using our services, you implicitly agree to the terms
    outlined in this Privacy Policy. For a comprehensive understanding of our privacy practices,
    please review our full Privacy Policy document.
</p>

<a asp-controller="Coffees" asp-action="Index" class="browse-button">Explore BackEnd</a>
