@{
    ViewData["Title"] = "Gallery";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-image:url("images/Gallerybg.png");        
        }

        .gallery-container {
            max-width: 2000px;
            padding: 20px;
            margin-left:100px;
            overflow: hidden;
            text-align:right;
        }

        h3 {
            font-size: 28px;
            font-weight: bold;
            margin-top: 90px;
            margin-left:90px;
            color: #333;
            margin-left: auto;}

            h2{
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-left: auto;
        }

            }

        .item-description {
            color: #666;
        }
    </style>
</head>
<body>
    <div class="gallery-container">
        <h3>
            Located in
            Malaysia and Korea
        </h3>
        <h2></h2>
        <h2>
            Malaysia
        </h2>
        <h2>
            No 1-9, Jalan Eco Majestic 10/1, 
        </h2>
        <h2>Eco Majestic, 43500, Semenyih</h2>
        <h3></h3>
        <h2>
            Korea South Korea, Seoul, 
        </h2>
        <h2>Gangnam-gu, Nohyeon-ro,636</h2>
        <!-- Add more gallery items as needed -->

    </div>

</body>
</html>
